extends layout

block content
  .container.mt-5
    .row.d-flex.justify-content-center
      .col-md-10
        .d-flex.align-items-baseline.justify-content-between.mb-5
          h2 Agregar productos
          a.btn.btn-primary.mt-3(href='/productos') Ver productos
    .row.d-flex.justify-content-center
      .col-md-10
        form(onsubmit='addProduct(this)')
          .form-group
            label(for='name') Nombre del producto
            input#name.form-control(type='text' name='name')
          .form-group
            label(for='price') Precio
            input#price.form-control(type='number' name='price')
          .form-group
            label(for='thumbnail') Thumbnail
            input#thumbnail.form-control(type='text' name='thumbnail')
          button.btn.btn-primary.btn-block.mt-3(type='submit') Agregar
    .row.d-flex.justify-content-center.mt-5
      .col-md-10
        .d-flex.align-items-baseline.justify-content-between.mb-5
          h2 Productos
    .row.d-flex.justify-content-center
      .col-md-10
        table.table#products
          tr
            th Nombre del producto
            th Precio
            th Imágen